<div class="card">
    <div class="card body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta libero ex error magnam, sit porro, officiis ipsam iure minima quas assumenda, reprehenderit inventore. Aliquid animi, distinctio in, exercitationem quidem maxime provident laboriosam fugit iusto aut amet atque magnam, non tenetur!</p>
    </div>
</div> 