<div class="card">
    <div class="jumbotron-mt-4">
        <h1 class="display-4">notes app nodejs and mongodb</h1>
        <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident, dolore!</p>
        <hr class="my-4">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Assumenda eum pariatur, quo tenetur iusto impedit, magnam sed quaerat aspernatur debitis vel ratione dignissimos, incidunt error officiis consequuntur animi nihil delectus deleniti saepe omnis nam nesciunt consectetur quam? Laboriosam, amet error.</p>
        <a href="http://faztweb.com" class="btn btn-primary btn-lg"> Fazt</a>
    </div>
</div>